<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>studylevel</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.StudyQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>serieslevel</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.SeriesQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>imagelevel</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.InstanceQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>settings</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.Config</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Echo</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.EchoService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>imagestream</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.Session</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserConfiguration</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.UserConfiguration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryIsExistServlet</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.QueryIsExistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownPicServlert</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.DownPicServlert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DcmImage</servlet-name>
    <servlet-class>in.raster.ioviyam2.servlets.DcmImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownPicServlert</servlet-name>
    <url-pattern>/DownPicServlert.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryIsExistServlet</servlet-name>
    <url-pattern>/QueryIsExistServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studylevel</servlet-name>
    <url-pattern>/study.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>serieslevel</servlet-name>
    <url-pattern>/series.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imagelevel</servlet-name>
    <url-pattern>/image.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>settings</servlet-name>
    <url-pattern>/config.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imagestream</servlet-name>
    <url-pattern>/imagestream.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserConfiguration</servlet-name>
    <url-pattern>/UserConfig.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Echo</servlet-name>
    <url-pattern>/echo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DcmImage</servlet-name>
    <url-pattern>/Image.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>dispatcher</web-resource-name>
      <description>Only allows users with the role WebAdmin to access the Archive Web Administration pages</description>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.html</url-pattern>
      <url-pattern>*.do</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Archive Web Admin</realm-name>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/error.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>WebUser</role-name>
  </security-role>
  <security-role>
    <role-name>WebAdmin</role-name>
  </security-role>
</web-app>